- var componentsPath = '../../components';
doctype html
html
    head
        meta(charset='utf-8')
        meta(description='')
        meta(keywords='')
        title My Site
        link(rel='stylesheet', type='text/css', href='../css/b-page/b-page.css')
        link(rel='stylesheet', type='text/css', href='../css/b-page/media-queries.css')
        link(rel='stylesheet', type='text/css', href='../css/b-header/b-header.css')
        link(rel='stylesheet', type='text/css', href='../css/b-content/b-content.css')
        link(rel='stylesheet', type='text/css', href='../css/b-footer/b-footer.css')
        script(type='text/javascript' src='../js/b-page/js/jquery-1.7.2.min.js')
        script(type='text/javascript' src='../js/b-page/js/ddsmoothmenu.js')
        script(type='text/javascript' src='../js/b-page/js/jquery.backstretch.min.js')
        script(type='text/javascript' src='../js/b-page/js/jquery.dcflickr.1.0.js')
        script(type='text/javascript' src='../js/b-page/js/jquery.fitvids.js')
        script(type='text/javascript' src='../js/b-page/js/jquery.masonry.min.js')
        script(type='text/javascript' src='../js/b-page/js/mediaelement.min.js')
        script(type='text/javascript' src='../js/b-page/js/mediaelementplayer.min.js')
        script(type='text/javascript' src='../js/b-page/js/retina.js')
        script(type='text/javascript' src='../js/b-page/js/selectnav.js')
        script(type='text/javascript' src='../js/b-page/js/twitter.min.js')
        script(type='text/javascript' src='../js/b-page/js/scripts.js')
        script: $.backstretch("#{componentsPath}/b-page/images/bg/1.jpg");
    body
        div.b-page
            div.b-header-wrap
                div.b-header
                    div.b-logo
                        a(href='main.html'): img(src='#{componentsPath}/b-header/images/logo.png')
                    div#b-menu.b-menu
                        ul
                            li.active
                                a(href='#') Blog
                                ul
                                    li
                                        a(href='#') Blog Post
                            li
                                a(href='#') Pages
                                ul
                                    li
                                        a(href='#') Page With Sidebar
                                    li
                                        a(href='#') Full Width
                            li
                                a(href='#') Styles
                                ul
                                    li
                                        a(href='#') Typography
                                    li
                                        a(href='#') Columns
                            li
                                a(href='#') Contact
                        select.b-menu__selectnav
                            option(value='') --- Navigation ---
                            option(value='#') Blog
                            option(value='#') Blog Post
                            option(value='#') Pages
                            option(value='#') Page With Sidebar
                            option(value='#') Full Width
                            option(value='#') Styles
                            option(value='#') Typography
                            option(value='#') Columns
                            option(value='#') Contact
            div.b-content-wrap
                div.b-intro
                    | Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum, Vestibulum id ligula porta.
                ul.b-social
                    li.active: a(href='#', class='b-social__rss')
                    li: a(href='#', class='b-social__facebook')
                    li: a(href='#', class='b-social__twitter')
                    li: a(href='#', class='b-social__pinterest')
                    li: a(href='#', class='b-social__dribbble')
                    li: a(href='#', class='b-social__flickr')
                    li: a(href='#', class='b-social__linkedin')

                div.b-content.b-content_box_current
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                div.b-sidebar.b-content_box_current
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            div.b-footer-wrap
                div.b-footer
                    div.b-widget
                        div.b-widget__search
                            h3.b-widget__title Search
                            form.b-widget__searchform(action="#", method="get")
                                input(type="text", value="", placeholder="type and hit enter")
                        div.b-widget__archive
                            h3.b-widget__title Archives
                            ul
                                li <a href="#">September 2012</a> (6)
                                li <a href="#">August 2012</a> (2)
                                li <a href="#">July 2012</a> (2)
                                li <a href="#">June 2012</a> (4)
                                li <a href="#">May 2012</a> (3)
                                li <a href="#">January 2012</a> (1)
                    div.b-widget
                        div.b-widget__twitter
                            h3.b-widget__title Twitter
                            div.b-widget__twitter-entry
                                span
                                    a(href="https://twitter.com/") → Follow us
                    div.b-widget
                        div.b-widget__post
                            h3.b-widget__title Popular Posts
                            ul.b-widget__post-list
                                li
                                    div.b-widget__frame.b-page__img_frame_hover
                                        a(href="#")
                                            img(src="#{componentsPath}/b-footer/images/s1.jpg")
                                    div.b-widget__meta
                                        h6
                                            a(href="#") Charming Winter
                                        span 28th Sep 2012
                                li
                                    div.b-widget__frame.b-page__img_frame_hover
                                        a(href="#")
                                            img(src="#{componentsPath}/b-footer/images/s2.jpg")
                                    div.b-widget__meta
                                        h6
                                            a(href="#") Trickling Stream
                                        span 5th Sep 2012
                                li
                                    div.b-widget__frame.b-page__img_frame_hover
                                        a(href="#")
                                            img(src="#{componentsPath}/b-footer/images/s3.jpg")
                                    div.b-widget__meta
                                        h6
                                            a(href="#") Morning Glory
                                        span 26th Sep 2012
                    div.b-widget
                        div.b-widget__flickr
                            h3.b-widget__title Flickr
                            ul.b-widget__flickr-feed
            div.b-footer-site-generator-wrap
                div.b-footer-site-generator
                    | Copyright Obscura 2012. Design by <a href="http://elemisfreebies.com">elemis</a>. All rights reserved.
